<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta name="title" content="Anslate - Home">
        <meta name="description"
            content="Anslate is an app that help patient and doctor communicate in different languages (English and Bahasa Indonesia)">
        <meta name="keywords" content="Medical, Anamnesis, Translate, Patient, Foreigner, Conversation">
        <meta name="robots" content="index, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='apple-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='apple-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='apple-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-icon-180x180.png')}}">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{url_for('static', filename='android-icon-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='favicon-96x96.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
        <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{url_for('static', filename='ms-icon-144x144.png')}}">
        <meta name="theme-color" content="#ffffff">


        <title>Anslate - Home</title>
        <style>
            * {
                font-family: 'Heebo';
            }
        </style>
    </head>

    <body>
        <div class="container mt-5" id="home">
            <div class="text-center p-5 border-bottom" style="height: 400px;">
                <h2>Anslate</h2>
                <p>Anslate is an app that help patient and doctor communicate in different languages (English and Bahasa
                    Indonesia) by live translation, word correction, medical term explanation, transcription, and
                    conversation history.</p>
                <a class="btn btn-dark" href="javascript:void();">Download now</a>
            </div>
            <img src="{{url_for('static', filename='anslate-home.png')}}" alt="img" height="700" class="mx-auto d-block"
                style="position: relative; top: -100px;" />
            <br><br>
            <div class="row mt-5">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='anslate-2.png')}}" alt="img" height="500"
                        class="mx-auto d-block me-5" />
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div id="feature">
                        <h3>Speech-to-text transcription, live translation, <br> and Word Suggestion based on text
                            transcription.
                        </h3>
                        <br>
                        <p>Different language and accent make user face difficulty <br> to explain their health
                            condition
                            clearly to doctor. <br>
                            We provide word suggestions if there is any mistake from transcription results <br> and also
                            help live conversation translation for both of patient and doctor’s languages.
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row mt-5">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div>
                        <h3>Speak or choose the answer based <br> on doctor question</h3>
                        <br>
                        <p>The patient has difficulty answering closed questions which <br> leads ambiguous to answer
                            <br>
                            We help to classify doctor question based on type of answer, <br> a simple answer or
                            range-like
                            answer so the answer would be more precise
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='anslate-close-question.png')}}" alt="img" height="500"
                        class="mx-auto d-block ms-5" />
                </div>
            </div>
            <br><br>
            <div class="row mt-5">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='anslate-history.png')}}" alt="img" height="500"
                        class="mx-auto d-block me-5" />
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div id="feature">
                        <h3>Conversation history with <br> Medical term information & explanation</h3>
                        <br>
                        <p>Patient tend to forget doctor’s explanation and couldn’t understand some medical statement
                            easily, especially because of language barriers. <br>
                            If the user want to consult with doctor, using history user can check <br> again what the
                            conversation before with the doctor so user will not be missed <br> with the detail. We also
                            provide medical term information to get definitions <br> and detailed information about
                            medical terminology in the conversation <br> so the user can understand.</p>
                    </div>
                </div>
            </div>
            <div class="text-center p-5 border-top border-bottom mt-5" style="height: 300px;" id="privacy_policy">
                <h2>Privacy Policy</h2>
                <p>"This app does not store or track any information that is inputted to the app"</p>
            </div>
            <img src="{{url_for('static', filename='anslate-home.png')}}" alt="img" height="700" class="mx-auto d-block"
                style="position: relative; top: -100px;" />
            <br><br>
            <div class="row border-top">
                <div class="col-md-8 mt-4">
                    <h5>Anslate</h5>
                    <small>Just Talk. Make it easy.</small>
                    <br><br>
                    <img src="{{url_for('static', filename='app-store-button.png')}}" alt="img" width="100">

                </div>
                <div class="col-md-2 mt-4">
                    <h5>Section</h5>
                    <small>
                        <a href="#" class="text-decoration-none" data-bs-target="#home">Home</a>
                        <br>
                        <a href="#" class="text-decoration-none" data-bs-target="#feature">Feature</a>
                        <br>
                        <a href="#" class="text-decoration-none" data-bs-target="#privacy_policy">Privacy Policy</a>
                        <br>
                    </small>
                </div>
                <div class="col-md-2 mt-4">
                    <h5>Contacts</h5>
                    <small>
                        <a href="https://anslate.herokuapp.com" class="text-decoration-none">Website</a><br>
                        Phone number <br>
                        Email <br>
                    </small>
                </div>
            </div>
            <br><br>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    </body>

</html>